---
import type { HostLinks } from "../../../types/afw";
import { ExternalLink, Youtube, Instagram, Facebook } from "lucide-astro";
import AlbumList from "./AlbumList.astro";

interface Props {
  time?: string;
  host: string;
  hostLinks?: HostLinks;
  description?: string;
  ticketLink?: string;
  albums?: string[];
}

const { time, host, hostLinks, description, ticketLink, albums } = Astro.props;
---

<div>
  <div class="flex gap-2 sm:gap-6 items-center flex-wrap">
    {time && <span>{time}: </span>}
    <strong>{host}</strong>

    {
      ticketLink && (
        <a href={ticketLink} aria-label="Ticket Link">
          <button type="button" class="cta-button" value="Get Tickets">
            Get Tickets
          </button>
        </a>
      )
    }
  </div>

  {
    hostLinks && (
      <span class="ml-2 pt-2 sm:pt-0  inline-flex gap-2">
        {hostLinks.web && (
          <a href={hostLinks.web} target="_blank" rel="noopener noreferrer">
            <ExternalLink style={{ fill: "transparent" }} />
            <span class="sr-only">Website</span>
          </a>
        )}

        {hostLinks.instagram && (
          <a
            href={hostLinks.instagram}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Instagram style={{ fill: "transparent" }} />
            <span class="sr-only">Instagram</span>
          </a>
        )}

        {hostLinks.facebook && (
          <a
            href={hostLinks.facebook}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Facebook style={{ fill: "transparent" }} />
            <span class="sr-only">Facebook</span>
          </a>
        )}

        {hostLinks.youtube && (
          <a href={hostLinks.youtube} target="_blank" rel="noopener noreferrer">
            <Youtube style={{ fill: "transparent" }} />
            <span class="sr-only">YouTube</span>
          </a>
        )}
      </span>
    )
  }

  {albums && albums.length > 0 && <AlbumList albums={albums} />}

  {
    description && (
      <div class="mt-4 flex flex-col gap-3 mb-4">
        {description.split("\n\n").map((paragraph) => (
          <p class="m-0">{paragraph}</p>
        ))}
      </div>
    )
  }
</div>
